.centerList {
    text-align: center;
}
.centerList ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.centerList li {
    float: left;
    padding: 10px 10px;
    border: 1px solid black;
}